node_modules/
Asset/.sass-cache/*
*package-lock.json
config.codekit3
builds/
PerlCodeDocumentation.code-workspace
grunts/
.vscode/
ssh/
javascript/
opensearch.xml
**.tar.gz
work/*
docker/.dev
docker/ssh/idrsa
docker/docker-compose.override.yml
syntax.cache

# might need to ignore this
index.tt

# Ignore /.old (presumed made by npm or grunt)
/.old