	<div class="beta-wrapper beta-bottom-right ">
		<div class="beta beta-blue  ">
			<a class="beta-link "
				href="https://github.com/OpusVL/perldoc.perl.org/issues/new"
				rel="noopener">
				<span class="beta-text">
					This website is a Beta release.
				</span>
				<span class="beta-text">
					For any issues please raise a ticket on GitHub
				</span>
			</a>
		</div>
	</div>
